/* Project Grid card */
.projects-grid {
    grid-gap: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    width: 100%;
    margin-top: 2rem;
}


.projects-grid .single_project {
    border-radius: 17px;
    display: flex;
    background: var(--color-bg-variant);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.single_project:hover {
    cursor: default;
    background: transparent;
    border-color: var(--color-primary-variant);
}


/* left side image styling */
.project__img {
    background-color: hsla(0, 0%, 46%, .2);
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    height: auto;
    overflow: hidden;
    width: 50%;
}

.project__img img {
    transform: translateY(0%);
    transition: transform 1s ease-in-out 0s
}

.project__img:hover img {
    transform: translateY(-77%);
    transition: transform 10s ease-in-out 0s;
}


/* project right content */
.project-content {
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
}


.project_title {
    color: var(--color-white);
    font-size: 25px;
    margin-bottom: 60px;
}

.project_description {
    color: #000000;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Project: 01 */
.project__1 {
    flex-direction: row;
    gap: 80px;
    height: 400px;
    padding: 20px;
}


.projects-grid .pro__img {
    width: 530px;
    height: auto;
    border-radius: 17px;
    background-color: rgba(118, 118, 118, 0.2);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.projects-grid .pro__img img {
    width: 100%;
    height: auto;
}

.projects-grid .project-content img {
    width: 70px;
    position: absolute;
    top: -2px;
    right: -19px;
}

.projects-grid .project-content h3 {
    color: var(--color-white);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
}

.projects-grid .project-content p {
    font-size: 17px;
    color: var(--color-white);
    text-transform: none;
    font-weight: 400;
}

.stack {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.stack p {
    background-color: var(--color-primary);
    padding: 0.5rem 0.6rem;
    border-radius: 25px;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-white);
    box-shadow: 0px 0px 2px var(--color-bg);
}

.links {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    align-items: center;
}

.links a {
    gap: 5px;
    display: flex;
    font-weight: 500;
    align-items: center;
    border-radius: 50px;
    padding: 10px 1.5rem;
    text-decoration: none;
    color: var(--color-white);
    border: 1px solid transparent;
    background-color: var(--color-primary);

}

.links a:hover {
    color: var(--color-primary);
    background-color: transparent;
    border-color: var(--color-primary);
    transition: all 0.3s;

}

.reversed-proj {
    flex-direction: row-reverse !important;
}


/* all break points */
@media (max-width: 1020px) {
    .project-content {
        margin: 0 auto;
    }

    .project {
        padding: 80px 0;
    }

    .projects-grid .project__1 {
        height: 750px;
        flex-direction: column !important;
        gap: 30px;
        width: fit-content;
        margin: 0 auto;
    }
}


@media (max-width: 650px) {
    .projects-grid .pro__img {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .projects-grid .project__1 {
        width: 100%;
    }

    .projects-grid .project-content {
        width: 100%;
    }
}
